* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #926239;
    margin: 0%;
    line-height: 1.6;
    font-size: 17px;
    box-sizing: border-box;
    overflow-x: hidden;
}  

header {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;   
    width: 100vw; 

}

header h1 {
    font-size: 50px;
    line-height: 1.3;
     
 }

.header-text-wrapper {
    padding-top: 40vh;

}

.header-text-wrapper>p  {
    font-size: 20px;
    
}

.header-text-wrapper button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover, .main-section :first-child {
    background-color: #926239;
    color: #ffffff;

}

.main-section :first-child,
 .main-section :nth-child(2),
  .header-text-wrapper  {
    text-align: center;
}

.main-section :first-child,
 .main-section :nth-child(2),
  .articles-wrapper :nth-child(odd),
   .articles-wrapper :nth-child(2) {
    padding: 15px 20px;
    
}

.articles-wrapper :nth-child(odd) {
    display: inline-block;
    width: 33.2%;
    background-color:#926239;
    color:#ffffff;
    
    
}

.articles-wrapper :nth-child(2) {
    display: inline-block;
    width: 33.1%;
    
}


